PORT=3333
HOST=localhost
NODE_ENV=development
APP_API_URL=http://localhost:3333
APP_FRONT_URL=http://localhost:3000
APP_KEY=mRkaLKLGWhsDCM67jkb6ahcgeo34Pdtn
MONGODB_URI=mongodb://127.0.0.1:27017/ecommerce
GOOGLE_CLIENT_ID=clientId
GOOGLE_CLIENT_SECRET=clientSecret
FACEBOOK_CLIENT_ID=clientId
FACEBOOK_CLIENT_SECRET=clientSecret
GOOGLE_MAPS_API_KEY=apiKey
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587,
SMTP_USER=user@gmail.com
SMTP_PASSWORD=password
USER_ADM_NAME=Adm
USER_ADM_EMAIL=example@mail.com
USER_ADM_PASSWORD=*****
MAP_BOX_MAPS_API_KEY=
MAPS_SERVICE=MAP_BOX
